*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/bg.png);
    background-size: cover;
    background-position: center;
}

.sign-up-form{
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
    border: 2px solid rgba(225, 225, 225, 0.39);
    box-shadow: 0 0 3px 0 rgba(0,0,0.3);
    border-radius: 8px;
}

.sign-up-form h1{
    color: red;
    margin-bottom: 20px;
}

.input-box{
    border-radius: 5px;
    padding: 8px 5px;
    margin: 5px 0;
    width: 100%;
    border: 2px solid #999;
    outline: none;
}

.checkbox{
    display: flex;
    gap: 5px;
}

.box{
    color: red;
}

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn{
background-color: black;
color: white;
margin-top: 10px;
}

.signup-google{
background-color: white;
color: #242424;
border: 1px solid black;
}

a{
    text-decoration: underline;
}

hr{
    margin: 10px 0;
    width: 100%;  
}

.or{
    text-transform: lowercase;
    margin: 5px 0;
}

#account{
    margin: 10px;
}